.title {
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 2px solid #ccc;
}

.box p {
    align-items: flex-start;
    margin-left: 0;
    display: flex;
}