.title {
    display: flex;
    justify-content: center;
    align-items: center;
}



.box {
    border-bottom: 2px solid #ccc;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
}


.box p{
    align-self: flex-start;
}